html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background:#fbfce6;
}

h1 {
  color: #010b78;
  font-size: 50px;
  font-weight: 400;
  font-family: 'Helvetica', cursive;
  text-transform: capitalize !important;

  @media screen and (max-width: 768px){
      text-align: center;
  }

}

h2 {
  color: #08a3bd;
  overflow: hidden;
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  @media screen and (max-width: 768px){
      font-size: 16px;
  }
}

input {
  width: 100%;
}